*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.password-heading{
    color: var(--pl-white);
    font-weight: 600;
    font-size: 2rem;
    opacity: 70%;
    text-transform: uppercase;
    text-align: center;
}

.display-container{
    position: relative;
    display: flex;
    width: 100%;
    max-height: 50px;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--dk-violet);
    border-bottom: 3px solid var(--vb-violet2);
    align-items: center;
    box-shadow: 0px 0px 30px 2px var(--dk-violet);
    margin: 1.5rem 0rem;
    padding: 30px;
}

.display{
    padding: 40px;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    transform: translateX(-50px) translateY(2px);
    color: var(--vb-yellow);
    font-size: 25px;
    
}

input::placeholder{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--vb-yellow);
    opacity: 70%;
    padding: 5px;
}

.input-container{
    /* height: 300px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black ;
    border-radius: 15px;
    background-color: var(--dk-violet);
    margin: 1.5rem 0rem;
    padding: 2rem 1rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    transform: translateY(-10px);
}

.length-container p:nth-child(1){
    font-size: 1.4rem;
    color: var(--pl-white);
    font-weight: 400;
}

.length-container p:nth-child(2){
    color: var(--vb-yellow);
    font-weight: 500;
    font-size: 20px;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.strength-container p{
    color: var(--pl-white);
    font-size: 1.2rem;
}

.indicator{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px var(--dk-violet);
    margin: 10px;
}


.generateButton{
    width: 100%;
    appearance: none;
    background-color: var(--vb-violet);
    padding: 15px 25px;
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid black;
    border-bottom: 5px solid var(--vb-yellow);
    box-shadow: 0px 0px 12px 0px black;
    cursor: pointer;
}

.generateButton p{ 
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--vb-yellow);
    opacity: 90%;
}


.checkbox-container label{
    color: var(--pl-white);
    font-size: 18px;
    word-spacing: 2px;
    line-height: 10px;
}

.checkbox-container{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.check{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2px;

}

input[type = "checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    border-radius: 0.35rem;
    position: relative;
    cursor: pointer;
}

.check input:checked{
    background-color: var(--vb-cyan);
}

.check input:checked::before{
    content: '✓';
    font-size: 20px;
    font-weight:700;
    transform: translateY(-5px);
    left: 2px;
    position: absolute;

}

.check label{
    font-size: 20px;
    letter-spacing: 1px;
}

.slider{
    appearance: none;
    background-color: var(--lt-violet);
    border-radius: 30px;
    width: 100%;
    height: 0.95rem;
    background: no-repeat;
    background: #303894;
    transition: all 2s ease-in-out;
}

.slider:focus{
    outline: 2px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb{
    appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    box-shadow: 0px 0px 10px 0px var(--vb-yellow);
    transition: all 100ms ease-in;
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: black;
}

.copy{
    position: relative;
    background: transparent;
    color: white;
    display: inline;
    /* background-color: white; */
    outline: none;
    border: none;
    /* appearance: none; */
}

.tool{
    position: absolute;
    color: var(--vb-yellow);
    bottom: 30px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid black;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--vb-violet);
    left: -13px;
    /* display: none; */
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-in-out;
}

.tool.Active{
    opacity: 1;
    transform: scale(1);
}
